*{
    margin: 0;
    padding: 0;
  }
  
  body{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow:hidden;
  }
  @keyframes santa {
    from{background-position: 0;}
    to{background-position: 10296px;}
  }
  
  @keyframes movesanta {
    0%{left: 0;}
    100%{left: 100%;}
  }
  .santa{
    width: 184px;
    height: 128px;
    background: url(santa.png.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: santa 1s steps(11) infinite, movesanta 5s linear infinite; 
  }